{% load staticfiles %}
<html>
	<head>
		<title> Thank Q 사용자 로그인</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>
	
		<h1> Thank Q 로그인</h1>
		{%if form.errors %}
		<p> 사용자 이름과 비밀번호가 일치하지 않습니다. 다시시도해보세요.</p>
		{%endif%}
		<form method="post" action=".">{%csrf_token%}
		<p><label for="id_username">ID:</label>{{form.username}}</p>
		<p><label for="id_password">PW:</label>{{form.password}}</p>
		<input type= "hidden" name="next" value="/" />
		<input type= "submit" value="로그인" />
		<input type= "submit" value="회원가입" />
		</form>
		<div>
		<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path}}">Login with Facebook</a>
		</div>
	</body>
</html>	
