{% extends 'base2.html' %}
{% load static from staticfiles %}


{% block content %}
		<p style="font-weight: bold";"font-size:17pt";><br><br>남자는 남자클릭, 여자는 여자클릭<br><br></P>
		<div style="float:left";>
			<a href="{% url 'man_new' %}"><img class="img-responsive" src={% static "mainimg/man.jpg" %} alt=""></a>
			<p> <br>남자는 남자사진을 클릭하면 신청페이지로 이동합니다. </p>
		</div>
		<div style="float:lest";>	
			<a href="{% url 'woman_new' %}"><img class="img-responsive" src={% static "mainimg/woman.jpg" %} alt=""></a>
			<p> <br>여자는 여자사진을 클릭하면 신청페이지로 이동합니다. </p>
		</div>	
{% endblock %}